@model Ankieta.Models.Pytanie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pytanie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tresc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tresc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypPytania)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypPytania)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnkietaSzkolna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnkietaSzkolna.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
