@model IEnumerable<Ankieta.Models.Uzytkownik>

@{
    ViewData["Title"] = "Index";
}

<body style="color: black">
<center>
        <div style="height:80vh;background-image:url(https://static.vecteezy.com/system/resources/thumbnails/003/127/955/small/abstract-white-and-grey-background-with-dynamic-waves-shape-free-vector.jpg); background-size:cover; background-repeat: no-repeat; background-position:top ;">
<h1>Zapisz się</h1>
<p>
        <button type="button" class="btn btn-dark"><a style="text-decoration: none; color: white" asp-action="Create">Wpisz swoje imie i nazwisko</a></button>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UzytkownikUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UzytkownikUser.UserName)
            </td>
            <td>
                <button type="button" class="btn btn-warning"><a style="text-decoration: none; color: white" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a></button> |
                <button type="button" class="btn btn-secondary"><a style="text-decoration: none; color: white " asp-action="Details" asp-route-id="@item.Id">Detale</a></button> |
                <button type="button" class="btn btn-danger"><a style="text-decoration: none; color: white" asp-action="Delete" asp-route-id="@item.Id">Usuwanie</a></button>
            </td>
        </tr>
}
    </tbody>
</table>


    <border style="border: 100px solid grey; border-width: 5px; border-style: ridge; border-color: grey; background-color: grey">
        <i>Po zapisaniu się i zarejestrowaniu, kliknij w szary przycisk poniżej, żeby zobaczyć nasze ankiety</i>
        </br>
    </border>
    </br>
    <button type="button" class="btn btn-secondary btn-lg btn-block"><a class="nav-link text-dark" asp-area="" asp-controller="AnkietaSzkolna" asp-action="Index">Nasze ankiety</a></button>

</center>
</body>