@model IEnumerable<Ankieta.Models.PytanieAnkieta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pytanie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ankieta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pytanie.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ankieta.Id)
            </td>

                <div class="btn-group" role="group" aria-label="Basic example">
                    <button asp-action="Edit" asp-route-id="@item.Id">Edycja</button> |
                    <button asp-action="Details" asp-route-id="@item.Id">Detale</button> |
                    <button asp-action="Delete" asp-route-id="@item.Id">Usuwanie</button>
                </div>


            <td>
                <button asp-action="Edit" asp-route-id="@item.Id">Edit</button> |
                <button asp-action="Details" asp-route-id="@item.Id">Details</button> |
                <button asp-action="Delete" asp-route-id="@item.Id">Delete</button>
            </td>

        </tr>
}
    </tbody>
</table>
