@model IEnumerable<Ankieta.Models.AnkietaSzkolna>

@{
    ViewData["Title"] = "Index";
}

<h1>Nasze ankiety</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndData)
            </td>
            <td>
                <a class="btn-primary btn" asp-controller="Pytanie" asp-action="Index">Weź udział</a>
            </td>
        </tr>

}
    </tbody>
</table>

<center>
<p>
    <a asp-action="Create" type="button" class="btn btn-secondary btn-lg btn-block">Utwórz swoją ankietę</a>
</p>
</center>