@model IEnumerable<Ankieta.Models.AnkietaSzkolna>

@{
    ViewData["Title"] = "Index";
}
<body class="tlo">
    <center>
        <div>
         <h1>Ankiety Szkolne</h1>
            <p>
                <button type="button" class="btn btn-dark"><a style="text-decoration: none; color: white" asp-action="Create">Utworz nową ankietę</a></button>
            </p>>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndData)
            </td>
            <td>
                    <li class="nav-item">
                        <a type="button" class="btn btn-success" asp-area="" asp-controller="Pytanie" asp-action="Index">Weź udział</a>
                    </li>

            </td>
        </tr>
}
    </tbody>
</table>
</center>
</body>
