@model IEnumerable<Ankieta.Models.Odpowiedz>

@{
    ViewData["Title"] = "Index";
}

<body style="color: black" class="tlo">
    <center>
        <div>
            <h1>Odpowiedzi</h1>
            <p>
                <button type="button" class="btn btn-dark"><a style="text-decoration: none; color: white" asp-action="Create">Utwórz odpowiedź</a></button>
            </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tresc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pytanie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tresc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pytanie.Tresc)
            </td>
            <td>
                  <button type="button" class="btn btn-warning"><a style="text-decoration: none; color: white" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a></button> |
                  <button type="button" class="btn btn-secondary"><a style="text-decoration: none; color: white " asp-action="Details" asp-route-id="@item.Id">Detale</a></button> |
                  <button type="button" class="btn btn-danger"><a style="text-decoration: none; color: white" asp-action="Delete" asp-route-id="@item.Id">Usuwanie</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</center>
</body>